{{>home_contents_header}}

<section class="contents">
    <h1 class="section-title font-crimson">Todas las Columnas</h1>
    <div id="grid-container" class="grid-container">
        {{#each columns}}
        <div class="article">
            <div class="img-container"><a href="/contents/columns/{{url}}"><img src="{{thumbnail}}"></a></div>
            <div class="info">
                <div class="container">
                    <span class="date">{{date}}</span>

                    <a href="/contents/columns/{{url}}">

                        <h2 class="article-title">{{title}}</h2>
                    </a>
                </div>

                <div class="author">
                    {{#if program}}<span>Programa: <strong>"{{program}}"</strong></span>{{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<div class="button-container">
    <button id="gimmi">MÁS COLUMNAS!</button>
</div>

{{>home_main_footer}}

<script>
    document.getElementById("menu-button").addEventListener("click", () => {
        if (document.getElementById("main-nav-menu").classList.contains("menu-out")) {
            document.getElementById("main-nav-menu").classList.remove("menu-out");
        };
        if (!document.getElementById("main-nav-menu").classList.contains("menu-in")) {
            document.getElementById("main-nav-menu").classList.add("menu-in");
        }
    });
    document.getElementById("close-button").addEventListener("click", () => {
        if (document.getElementById("main-nav-menu").classList.contains("menu-in")) {
            document.getElementById("main-nav-menu").classList.remove("menu-in");
        }
        if (!document.getElementById("main-nav-menu").classList.contains("menu-out")) {
            document.getElementById("main-nav-menu").classList.add("menu-out");
        }
    });

</script>
<script src="/js/all_columns.js"></script>
<link rel="stylesheet" href="/css/all_columns.css">