{{>home_contents_header}}

<div class="main-container">
    <section class="news">
        <h3 class="section-title_full ">Todas las Noticias</h3>
        <div id="container" class="container">
            {{#each news}}
            <div class="article-big">
                <a class="cover" href="/contents/news/{{url}}">
                    <div class="img-container"><img src="{{thumbnail}}" alt="" class="cover"></div>
                    <div class="info">
                        <span class="headline">{{headline}}</span>
                        <h4 class="title">{{title}}</h4>
                        <span class="author">Por: <strong class="font-crimson">{{author}}</strong></span>
                        <span class="date">{{date}}</span>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

    </section>
</div>

<div class="button-container">
    <button id="gimmi">MÁS NOTICIAS!</button>
</div>

{{>home_main_footer}}

<script src="/js/all_news.js"></script>
<link rel="stylesheet" href="/css/home.css">