<nav class="main-nav">
    <a href="/" class="logo-container"> <img src="/LogoBlanco.png" class="nav-logo" alt="">
    </a>
    <div class="button-listen-now font-crimson"><span>ESCUCHAR AHORA!</span></div>
    <ul class="nav-list">
        <li><a href="/all/news" class="nav-link font-crimson">NOTICIAS</a></li>
        <li><a href="/all/columns" class="nav-link font-crimson">RECORTES</a></li>
        <li><a href="/all/emitions" class="nav-link font-crimson">EMISIONES</a></li>
        <li><a href="/all/contact" class="nav-link font-crimson">CONTACTO</a></li>
    </ul>

</nav>
<div class="small-header">
    <div class="img-container"><img src="/LogoBlanco.png" alt=""></div>
</div>
<nav id="main-nav-menu" class="main-nav-menu menu-out">
    <div id="close-button" class="close-button"><span>+</span></div>
    <h2 class="font-crimson">MENU</h2>
    <ul class="nav-list">
        <li><a href="/all/news" class="nav-link font-crimson">NOTICIAS</a></li>
        <li><a href="/all/columns" class="nav-link font-crimson">RECORTES</a></li>
        <li><a href="/all/emitions" class="nav-link font-crimson">EMISIONES</a></li>
        <li><a href="/all/contact" class="nav-link font-crimson">CONTACTO</a></li>
    </ul>
    <div class="socials-footer">
        <a href="https://www.youtube.com/channel/UCcbkYFIp1yckYM_SqWWG4Gw/" class="img-container">
            <img src="/Youtube.svg" alt="youtube">
        </a>
        <a href="https://www.facebook.com/Radio-Entre-Piernas-109936057248253" class="img-container">
            <img src="/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.twitter.com/radioentrep/" class="img-container">
            <img src="/Twitter.svg" alt="twitter">
        </a>
        <a href="https://www.instagram.com/entrep49/" class="img-container">
            <img src="/Instagram.svg" alt="instagram">
        </a>
    </div>
</nav>
<div id="menu-button" class="menu-button"><span>|||</span></div>



<section class="content">

    <div class="main">
        <h1 class="section-title font-crimson">
            {{#if news}}NOTICIAS{{/if}}{{#if columns}}RECORTES{{/if}}{{#if emitions}}EMISIONES{{/if}}
        </h1>
        <article class="article">
            <span class="date font-white">19 de Abril de 2019</span>
            {{#if news}}
            <h1 class="article-title font-white">{{news.title}}</h1>
            <div class="description font-white">{{{news.description}}}</div>
            {{/if}}
            {{#if columns}}
            <h1 class="article-title font-white">{{columns.title}}</h1>
            <div class="description font-white">{{{columns.description}}}</div>
            {{/if}}
            {{#if emitions}}
            <h1 class="article-title font-white">{{emitions.program}}</h1>
            <span class="name font-white">{{emitions.number}}</span>
            <div class="description font-white">{{{emitions.description}}}</div>

            {{/if}}

            <div class="author-sharers-container">
                <div class="author-info">
                    {{#if news}}
                    {{#unless news.alt_author}}
                    <div class="author-img-container rounded-borders">
                        <img src="{{news.author_thumbnail}}" alt="author-img" class="author-img">
                    </div>

                    <span class="name font-white">Por <strong class="font-crimson">{{news.author}}</strong></span>
                    {{else}}
                    <a href="{{news.alt_source_link}}"><span class="name font-white">Por <strong
                                class="font-crimson">{{news.alt_author}}</strong> desde
                            <strong class="font-crimson">{{news.alt_source}}</strong></span></a>
                    {{/unless}}
                    {{/if}}
                    {{#if columns}}
                    <span class="name font-white">Programa: <strong
                            class="font-crimson">{{columns.program}}</strong></span>
                    {{/if}}
                  


                </div>

                <div class="socials-sharers">

                    <a href="https://telegram.me/share/url?url={{#unless news.alt_author}}https://www.radioentrepiernas.tk/contents/{{#if news}}news/{{news.url}}{{/if}}{{#if columns}}columns/{{columns.url}}{{/if}}{{#if emitions}}emitions/{{emitions.url}}{{/if}}{{else}}{{news.alt_source_links}}{{/unless}}&text={{news.title}}{{columns.title}}{{emitions.title}} | Por 
                        {{#unless news.alt_author}}
                        {{news.author}}
                        {{columns.program}}
                        {{emitions.program}}
                        {{else}}
                        {{news.alt_author}}
                        {{/unless}}">
                        <div class="img-container">
                            <img src="/socials/telegram.svg" alt="Telegram Sharer">
                        </div>
                    </a>
                    <!--a href=" #">
                        <div class="img-container">
                            <img src="/socials/messenger.svg" alt="Messenger Sharer">
                        </div>
                    </a-->
                    <a
                        href="https://www.facebook.com/sharer/sharer.php?u={{#unless news.alt_author}}https://www.radioentrepiernas.tk/contents/{{#if news}}news/{{news.url}}{{/if}}{{#if columns}}columns/{{columns.url}}{{/if}}{{#if emitions}}emitions/{{emitions.url}}{{/if}}{{else}}{{news.alt_source_link}}{{/unless}}">
                        <div class="img-container">
                            <img src="/socials/facebook (1).svg" alt="">
                        </div>
                    </a>
                    <!--a href=" #">
                        <div class="img-container">
                            <img src="/socials/instagram.svg" class="rounded-borders" alt="">
                        </div>
                    </a-->
                    <a
                        href=" http://twitter.com/share?text={{news.title}}{{columns.title}}{{emitions.title}} @radioentrep. Por: {{#if news.alt_author}}{{news.alt_author}}{{/if}}{{news.altAuthor}}&url={{#unless news.alt_author}}https://www.radioentrepiernas.tk/contents/{{#if news}}news/{{news.url}}{{/if}}{{#if columns}}columns/{{columns.url}}{{/if}}{{#if emitions}}emitions/{{emitions.url}}{{/if}}{{else}}{{news.alt_source_link}}{{/unless}}">
                        <div class="img-container">
                            <img src="/socials/twitter.svg" alt="">
                        </div>
                    </a>

                    <a
                        href="whatsapp://send?text={{#unless news.alt_author}}https://www.radioentrepiernas.tk/contents/{{#if news}}news/{{news.url}}{{/if}}{{#if columns}}columns/{{columns.url}}{{/if}}{{#if emitions}}emitions/{{emitions.url}}{{/if}}{{else}}{{news.alt_source_link}}{{/unless}}">
                        <div class="img-container">
                            <img src="/socials/whatsapp.svg" alt="">
                        </div>
                    </a>


                </div>
            </div>
            {{#if news}}
            <div class="main-media">
                <img src="{{news.photo}}" alt="">
                <span class="caption font-white">Fuente:
                    {{#if news.caption}}{{news.caption}}{{else}}Radio
                    Entre-Piernas S.A.{{/if}}</span>
            </div>
            {{/if}}
            {{#if columns}}
            <div class="main-media">
                {{{columns.iframe}}}
                <span class="caption font-white">Fuente: {{#if columns.caption}}{{ columns.caption}}{{else}}Radio
                    Entre-Piernas S.A.{{/if}}</span>

            </div>
            {{/if}}
            {{#if emitions}}
            <div class="main-media">
                {{{emitions.iframe}}}
                <span class="caption font-white">Fuente: {{#if emitions.caption}}{{ emitions.caption}}{{else}}Radio
                    Entre-Piernas S.A.{{/if}}</span>
            </div>
            {{/if}}

            <div class="body">
                {{{news.body}}}{{{columns.body}}}{{{emitions.body}}}
            </div>
        </article>
        <h1 class="section-title font-crimson">{{#if columns}}MÁS RECORTES{{else}}RECORTES{{/if}}</h1>

        <section id="columns" class="columns">
            {{#each _columns}}
            <div class="column-article">
                <div class="column-image-container">
                    <a href="/contents/columns/{{url}}">
                        <img src="{{thumbnail}}" class="column-img" alt="">
                        <img src="/play-crimson-small.png" class="column-play" alt=""></a>

                </div>
                <span class="custom-headline font-crimson font-italic">{{program}}</span>
                <a href="/contents/columns/{{url}}">
                    <h3 class="custom-small-title font-white title-hover">{{title}}</h3>
                </a>
            </div>
            {{/each}}
        </section>
    </div>

    <div class="aside">
        <div class="auto-container">
            <div class="last-episode">
                <iframe id="dailySong" width="100%" height="200px" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="suscribe">
                <img src="/suscribe.png" alt="">
            </div>
            <div class="more-news-container">
                <h1 class="section-title font-crimson">MÁS NOTICIAS</h1>

                <section id="more-news" class="more-news">
                    {{#each _news}}
                    <div class="article">
                        <a href="/contents/news/{{url}}">
                            <h3 class="custom-small-title font-white">{{title}}</h3>
                        </a>
                        <span class="custom-author font-crimson">Por {{author}}</span>
                    </div>
                    {{/each}}
                </section>
            </div>
        </div>


    </div>
</section>




<footer class="footer">
    <div class="item">
        <a href="#">
            <h3 class="custom-medium-title font-crimson">¿Quienes somos?</h3>
        </a>
        <p class="font-white">Radio Entre-Piernas es un medo alternativo centrado en la comunicación desdelas
            disidencias, que se
            desprende del proyecto original "Entre Piernas Noches De Club"</p>
    </div>
    <div class="item">
        <a href="#">
            <h3 class="custom-medium-title font-crimson">¿Querés Colaborar?</h3>
        </a>
        <p class="font-white">Si querés enterarte de más, entrá en el laberinto y buscanos en nuestras redes.
        </p>
        <p class="font-white">Si querés participar de la redacción o proponer un programa para nuestra radio, no
            dudes en enviar un
            email a <strong class="font-crimson">radioentrepiernas@gmail.com</strong></p>
    </div>
    <div class="item">
        <a href="#">
            <h3 class="custom-medium-title font-crimson">Copyright</h3>
        </a>
        <p class="font-white">Ninguna de las noticias publicadas tiene copyright o derechos de autor. Todo lo
            publicado está liberado
            para ser reproducido o compar tido, sólo sugerimos compar tir la fuente y así
            contribuir con el proyecto</p>
    </div>

    <div class="socials-footer">
        <a href="https://www.youtube.com/channel/UCcbkYFIp1yckYM_SqWWG4Gw/" class="img-container">
            <img src="/Youtube.svg" alt="youtube">
        </a>
        <a href="https://www.facebook.com/Radio-Entre-Piernas-109936057248253" class="img-container">
            <img src="/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.twitter.com/radioentrep/" class="img-container">
            <img src="/Twitter.svg" alt="twitter">
        </a>
        <a href="https://www.instagram.com/entrep49/" class="img-container">
            <img src="/Instagram.svg" alt="instagram">
        </a>
    </div>
</footer>




<script>

    window.onload = () => {
        fetch('/superlist').then(function (response) {
            return response.json()
        }).then((myJSON) => {
            console.log(myJSON)
            let iframeSong = document.getElementById("dailySong");
            iframeSong.src = "https://www.youtube.com/embed/" + myJSON.id;
        }).catch(err => { console.log(err) });
    }

    document.getElementById("menu-button").addEventListener("click", () => {
        if (document.getElementById("main-nav-menu").classList.contains("menu-out")) {
            document.getElementById("main-nav-menu").classList.remove("menu-out");
        };
        if (!document.getElementById("main-nav-menu").classList.contains("menu-in")) {
            document.getElementById("main-nav-menu").classList.add("menu-in");
        }
    });
    document.getElementById("close-button").addEventListener("click", () => {
        if (document.getElementById("main-nav-menu").classList.contains("menu-in")) {
            document.getElementById("main-nav-menu").classList.remove("menu-in");
        }
        if (!document.getElementById("main-nav-menu").classList.contains("menu-out")) {
            document.getElementById("main-nav-menu").classList.add("menu-out");
        }
    });
</script>