<div class="dashboard-control">

    <div class="dash-wellcome">

        <div class="wellcome-profile">
            <div class="pro-main">
                <div class="main-img-cont">
                    <img src="{{user.photo}}">
                </div>
                <h2>{{user.name}}</h2>
            </div>
            <ul class="labels-list">
                <li> <span class="wellcome-label">Email: </span>
                    <span>
                        {{success_msg}}
                        {{#if user.email}}
                        {{user.email}}
                        {{else}}
                        Todavía no has ingresado un email.
                        {{/if}}
                    </span></li>
                <li>
                    <span class="wellcome-label">Facebook: </span>
                    <span>
                        {{#if user.facebook}}
                        {{user.facebook}}
                        {{else}}
                        Todavía no has ingresado un Facebook.
                        {{/if}}
                    </span>
                </li>
                <li>
                    <span class="wellcome-label">Instagram: </span>
                    <span>
                        {{#if user.instagram}}
                        {{user.instagram}}
                        {{else}}
                        Todavía no has ingresado un Instagram.
                        {{/if}}
                    </span>
                </li>
                <li> <span class="wellcome-label">Twitter: </span>
                    <span>
                        {{#if user.twitter}}
                        {{user.twitter}}
                        {{else}}
                        Todavía no has ingresado un Twitter.
                        {{/if}}
                    </span>
                </li>
            </ul>
        </div>

        <div class="wellcome-news">
            <h2>Tus últimas noticas</h2>
            <div class="news-list">
                {{#each user_news}}
                <div class="list-card">
                    <div class="n-img-container">
                        {{#if thumbnail}}
                        <img src="{{thumbnail}}" alt="">
                        {{else}}
                        <p>Image Missing</p>
                        {{/if}}
                    </div>
                    <div class="n-info">
                        <span class="n-date">{{date}}</span>
                        <h3 class="n-title">{{title}}</h3>
                    </div>
                    <div class="n-actions">
                        <a href="/news/edit/{{_id}}">
                            <div class="edit">
                                <div class="icon-container"><img src="/icons/edit.png" alt=""></div>
                            </div>
                        </a>
                        <form action="/news/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button>
                                <div class="trash">
                                    <div class="icon-container"><img src="/icons/trash.png" alt=""></div>
                                </div>
                            </button>
                        </form>



                    </div>
                </div>
                {{/each}}

            </div>

        </div>


    </div>


</div>