<div class="dashboard-control">

    <div class="dash-wellcome">

        <div class="wellcome-profile">
            <div class="pro-main">
                <div class="main-img-cont">
                    <img src="{{user.photo}}">
                </div>
                <h2>{{user.name}}</h2>
            </div>
            <ul class="labels-list">
                <li> <span class="wellcome-label">Email: </span>
                    <span>
                        {{success_msg}}
                        {{#if user.email}}
                        {{user.email}}
                        {{else}}
                        Todavía no has ingresado un email.
                        {{/if}}
                    </span></li>
                <li>
                    <span class="wellcome-label">Facebook: </span>
                    <span>
                        {{#if user.facebook}}
                        {{user.facebook}}
                        {{else}}
                        Todavía no has ingresado un Facebook.
                        {{/if}}
                    </span>
                </li>
                <li>
                    <span class="wellcome-label">Instagram: </span>
                    <span>
                        {{#if user.instagram}}
                        {{user.instagram}}
                        {{else}}
                        Todavía no has ingresado un Instagram.
                        {{/if}}
                    </span>
                </li>
                <li> <span class="wellcome-label">Twitter: </span>
                    <span>
                        {{#if user.twitter}}
                        {{user.twitter}}
                        {{else}}
                        Todavía no has ingresado un Twitter.
                        {{/if}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="wellcome-profile">
            <h2>Publicaciones</h2>
            <ul class="labels-list">
                <li>
                    <span class="n-label">Noticias Publicadas: </span>
                    <span>{{user.news_number}}</span>
                </li>
                <li>
                    <span class="n-label">Aparición en Columnas: </span>
                    <span>40</span>
                </li>
                <li>
                    <span class="n-label">Aparición en Emisiones :</span>
                    <span>70</span>
                </li>
        </div>
        <div class="wellcome-news">
            <h2>Publicaciones</h2>
            <div class="news-list">
                {{#each user_news}}
                <div class="list-card">
                    <div class="n-img-container">
                        {{#if thumbnail}}
                        <img src="{{thumbnail}}" alt="">
                        {{else}}
                        <p>Image Missing</p>
                        {{/if}}
                    </div>
                    <div class="n-info">
                        <span class="n-date">{{date}}</span>
                        <h3 class="n-title">{{title}}</h3>
                    </div>
                    <div class="n-actions">
                        <a href="/news/edit/{{_id}}">
                            <div class="edit"><i class="fas fa-edit"></i></div>
                        </a>
                        <form action="/news/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                            <button>
                                <div class="trash"><i class="fas fa-trash-alt"></i></div>
                            </button>
                        </form>



                    </div>
                </div>
                {{/each}}


                <div class=" list-card">
                    <div class="n-img-container">
                        <img src="https://images.unsplash.com/photo-1570341420728-b324cde2d244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
                            alt="">
                    </div>
                    <div class="n-info">
                        <span class="n-date">20/16/2019</span>
                        <h3 class="n-title">La noticia del siglo, no es momento para perdersela, vofi</h3>
                    </div>
                    <div class="n-actions">
                        <div class="edit"><i class="fas fa-edit"></i></div>
                        <div class="trash"><i class="fas fa-trash-alt"></i></div>
                    </div>
                </div>

                <div class="list-card">
                    <div class="n-img-container">
                        <img src="https://images.unsplash.com/photo-1568228228480-540feb039f2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                            alt="">
                    </div>
                    <div class="n-info">
                        <span class="n-date">20/16/2019</span>
                        <h3 class="n-title">Las vendas en la cara son de las cosas que más amamos los muchachos
                            peronistas</h3>
                    </div>
                    <div class="n-actions">
                        <div class="edit"><i class="fas fa-edit"></i></div>
                        <div class="trash"><i class="fas fa-trash-alt"></i></div>
                    </div>
                </div>

                <div class="list-card">
                    <div class="n-img-container">
                        <img src="https://images.unsplash.com/photo-1561303574-59db69510c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
                            alt="">
                    </div>
                    <div class="n-info">
                        <span class="n-date">20/16/2019</span>
                        <h3 class="n-title">La gente que se agarrala cabeza suelen ser las que más sufren dolor de
                            cabeza</h3>
                    </div>
                    <div class="n-actions">
                        <div class="edit"><i class="fas fa-edit"></i></div>
                        <div class="trash"><i class="fas fa-trash-alt"></i></div>
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>