<div class="dashboard-control">

    <div class="allUsers">
        <div class="allUsers-dash">
            <h2 class="aU-title">Todas las Emisiones</h2>
            <div class="news-list">

                {{#each emitions}}
                <div class="list-card">
                    <div class="n-img-container">
                        {{{iframe}}}
                    </div>
                    <div class="n-info">
                        <h3 class="n-title">{{title}}</h3>

                        <span class="aN-date">En Esta Emision: {{members}}</span>
                        <span class="aN-date">{{date}}</span>
                    </div>
                    <div class="n-actions">
                        <a href="/emitions/edit/{{_id}}">
                            <div class="edit">
                                <div class="icon-container"><img src="/icons/edit.png" alt=""></div>
                            </div>
                        </a>
                        <form action="/emitions/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button>
                                <div class="trash">
                                    <div class="icon-container"><img src="/icons/trash.png" alt=""></div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>

    </div>


</div>