<div class="dashboard-control">

    <div class="allUsers">
        <div class="allUsers-dash">
            <h2 class="aU-title">Todas las Publicaciones</h2>
            <div class="news-list">
                {{#each user_news}}
                <div class="list-card">
                    <div class="n-img-container">
                        {{#if thumbnail}}
                        <img src="{{thumbnail}}" alt="">
                        {{else}}
                        <p>Image Missing</p>
                        {{/if}}
                    </div>
                    <div class="n-info">
                        <span class="n-date">{{date}}</span>
                        <h3 class="n-title">{{title}}</h3>
                    </div>
                    <div class="n-actions">
                        <a href="/news/edit/{{_id}}">
                            <div class="edit">
                                <div class="icon-container"><img src="/icons/edit.png" alt=""></div>
                            </div>
                        </a>
                        <form action="/news/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button>
                                <div class="trash">
                                    <div class="icon-container"><img src="/icons/trash.png" alt=""></div>
                                </div>
                            </button>
                        </form>
                    </div>
                    {{/each}}
                </div>
            </div>


        </div>


    </div>