<!DOCTYPE html>
<html lang="es">

<head>
    <!-- UTF Charset Encoding -->
    <meta charset="UTF-8">

    <!--MetaData For the Spiders and Snippets -->

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:site_name" name="og:site_name" content="Radio Entre-Piernas" />
    <meta property="og:title" content="{{headers.ogTitle}}" />
    <meta property="og:description" content="{{{headers.ogDescription}}}" />
    <meta property="og:image" content="{{headers.ogImage}}" />
    {{#if headers.news}}
    <meta property="og:type" name="og:type" content="article" />
    <meta property="og:url" name="og:url" content="https://{{news.url}}" />
    <meta property="og:article:author" name="og:article:author"
        content="{{#if news.alt_author}}{{news.alt_author}}{{else}}{{news.author}}{{/if}}" />
    {{/if}}

    <title>{{{headers.pageTitle}}}</title>

    <!--Import Google Icon Font-->
    <link rel="shortcut icon" href="/faviconOjo1.jpeg" type="image/jpeg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">

    <!--There will be CSS in this section-->
    {{#if headers.altFormat.altCSS}}
    {{#each headers.altFormat.altCSS}}
    {{{this}}}
    {{/each}}
    {{else}}
    <link rel="stylesheet" href="/home-grid.css">
    <link rel="stylesheet" href="/home-styles.css">
    {{/if}}


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>



<body>
    {{#each error_msg}}<div class="error_div">{{this}}</div>{{/each}}
    {{#if error_msg}}
    <script>
        const x = document.querySelectorAll(".error_div");
        for (let i = 0; i < x.length; i++) {
            for (i = 0; i < x.length; i++) {
                x[i].addEventListener("click", (target) => {
                    target.path[1].removeChild(target.path[0]);
                });
            }
        }
    </script>
    <style>
        .error_div {
            z-index: 99999;
            position: fixed;
            height: auto;
            background-color: white;
            color: red;
            width: auto;
        }
    </style>
    {{/if}}


    {{{body}}}

</body>
{{>alt_Scripts}}